/* Style for the index.html page */

.formLegends{
    font-family:'Trebuchet MS';  /*   hahah trebuchet go brrr */
}

#formTitle{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1px;
    margin-left: 45%;
}

#slides:hover{
    background-color:hsl(138, 100%, 50%);
}

h2 ~ em{ /* pretty much exclusively applies to the "no one else attended" words" */
    color: rgb(255,0,0);
    text-decoration: underline;
}

body{
    text-align:center;
}